* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, #root, .app {
    height: 100%;
    /* border: 1px solid green; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
}

header {
    padding: 24px;
    border: 1px solid grey;
}

.gameFrame {
    flex-grow: 1;
    display: flex;
    /* border: 1px solid purple; */
}

.gameFrame > div {
    flex-grow: 1;
}

.middleFrame {
    flex-basis: 16%;
    display: flex;
    flex-direction: column;
    /* border: 4px solid rgb(59, 202, 245); */
}

.question {
    padding: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 44px;
    font-family: 'Luckiest Guy', cursive;
    color: #5bb2f0;

}

.gameBoxWrapper {
    flex-grow: 1;
    /* border: 1px solid red; */
}

.gameBox {
    position: relative;
    border: 8px solid #5bb2f0;
    border-radius: 10px;
    padding-top: 100%;
}

.bubbleWrapper {
    position: absolute;
    border-radius: 50%;
    background: #5bb2f0;
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    transition: .2s linear;
    cursor: pointer;
}

.pointsEarned {
    visibility: hidden;
    font-family: 'Luckiest Guy', cursive;
    position: absolute;
    top: 10%;
    left: 90%;
    /* animation: showPointsEarned 2s ease alternate; */
}

.bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100%;
}

.bubbleValue {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 32px;
    font-family: 'Luckiest Guy', cursive;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #5bb2f0;
    font-family: 'Luckiest Guy', cursive;


}

/* ------------------------------- */
.showLevel, .showPoints {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
    color: #5bb2f0;
}


/* ------------------------------- */
/* KEYFRAMES-----------------------*/
/* ------------------------------- */
.vanish {
    width: 1%;
    height: 1%;
    background: red;
    opacity: 0%;
}

@keyframes showPointsEarned  {
    0% {
        visibility: visible;
        width: 10%;
        height: 10%;        
    }

    50% {
        visibility: visible;
        width: 30%;
        height: 40%;
    }
}

/* alternate */